<?xml version="1.0" encoding="utf-8" ?>
<web-app>
    <servlet>
        <servlet-name>GitServlet</servlet-name>
        <servlet-class>org.eclipse.jgit.http.server.GitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GitServlet</servlet-name>
        <url-pattern>/GitServlet</url-pattern>
    </servlet-mapping>
</web-app>
